<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  <!--  Sheet Header einai to pio panw aristera element, stin ousia gemizei tin prwti grami poy einai to idio size me to photo -->
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{actor.img}}"
      data-edit="img"
      title="{{actor.name}}"
      height="100"
      width="100"
    />
    {{!-- meta to photo exoume ta exis --}}
    <div class="header-fields">
      {{!-- the default name for new actors based on this template --}}
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{actor.name}}"
          placeholder="Metanthrope test name"
        />
      </h1>
      <!--       The grid classes are defined in scss/global/_grid.scss. To use, use
      both the "grid" and "grid-Ncol" class where "N" can be any number from 1
      to 12 and will create that number of columns.meta exoume 3
      columns gia life/destiny/level  -->

      <div class="resources grid grid-3col">
        {{!-- "flex-group-center" is also defined in the _grid.scss file and it
        will add a small amount of padding, a border, and will center all of its
        child lements content and text. --}}
        <div class="resource flex-group-center">
          <div class="resource-content flexrow flex-center flex-between">
            <!--        <input type="text" name="system.life.value" value="{{system.life.value}}" data-dtype="Number"/> -->
            <label for="system.life.value" class="resource-label">Life</label>
            <span
              >: {{numberFormat system.life.value decimals=0 sign=false}} /
              {{numberFormat system.life.max decimals=0 sign=false}}
            </span>
          </div>
        </div>
        <div class="resource flex-group-center">
          <div class="resource-content flexrow flex-center flex-between"></div>
          <label for="system.destiny.value" class="resource-label"
            >Destiny</label
          >
          <input
            type="text"
            name="system.destiny.value"
            value="{{system.destiny.value}}"
            data-dtype="Number"
          />
          <span> / </span>
          <input
            type="text"
            name="system.destiny.max"
            value="{{system.destiny.max}}"
            data-dtype="Number"
          />
        </div>
        <div class="resource flex-group-center">
          <div class="resource-content flexrow flex-center flex-between">
            <label for="system.attributes.level.value" class="resource-label"
              >Experience</label
            >
            <input
              type="text"
              name="system.attributes.level.value"
              value="{{system.attributes.level.value}}"
              data-dtype="Number"
            />
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="characteristics">Characteristics & Stats</a>
    <a class="item" data-tab="metapowers">Metapowers</a>
    <a class="item" data-tab="metapowers">Combos</a>
    <a class="item" data-tab="effects">Fake Buffs</a>
    <a class="item" data-tab="effects">Fake Conditions</a>
    <a class="item" data-tab="items">Fake Possessions</a>
    <a class="item" data-tab="description">Information rename</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Characteristics and Stats page Tab --}}
    <div class="tab features" data-group="primary" data-tab="characteristics">
      <section class="grid grid-3col">
        {{!-- adding body --}}
        <aside class="sidebar">
          {{!-- The grid classes are defined in scss/global/_grid.scss. To
          use,use both the "grid" and "grid-Ncol" class where "N" can be any
          number from 1 to 12 and will create that number of columns. --}}
          <div class="stats flexcol flex-center">
            <label
              for="system.characteristics.body.value"
              class="resource-label"
              >Body</label
            >
            <div class="resource-content flexrow flex-center flex-between">
              <input
                type="text"
                name="system.characteristics.body.value"
                value="{{system.characteristics.body.value}}"
                data-dtype="Number"
              />
            </div>
            {{#each system.stats as |stat key|}}
            <div class="stat flexrow flex-group-center">
              <label
                for="system.stats.{{key}}.value"
                class="resource-label rollable align-left"
                data-roll="d100"
                data-label="{{stat.label}}"
                >{{stat.label}}</label
              >
              <input
                type="text"
                name="system.stats.{{key}}.value"
                value="{{stat.value}}"
                data-dtype="Number"
              />
              <span
                class="stat-qp rollable"
                data-roll="d100+@stats.{{key}}.qp"
                data-label="{{stat.label}}"
                >{{numberFormat stat.value decimals=0 sign=false}}</span
              >
            </div>
            {{/each}}
          </div>
        </aside>
        <!--
        {{!-- {{#each system.abilities as |ability key|}}
        <div class="ability flexrow flex-group-center">
          <label for="system.abilities.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="d20+@abilities.{{key}}.mod" data-label="{{ability.label}}">{{ability.label}}</label>
          <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
          <span class="ability-mod rollable" data-roll="d20+@abilities.{{key}}.mod" data-label="{{ability.label}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
        </div>
        {{/each}}
        --}}
-->

        {{!-- adding mind --}}
        <aside class="sidebar">
          {{!-- the below seems to be key to renaming (if possible) abilities to
          stats and the usage of characteristics, here also defines the type of
          roll that happens when clicking the stat, so levels of success should
          be placed here as well --}} {{!-- The grid classes are defined in
          scss/global/_grid.scss. To use,use both the "grid" and "grid-Ncol"
          class where "N" can be any number from 1 to 12 and will create that
          number of columns. --}}
          <div class="stats flexcol">
            <label
              for="system.characteristics.mind.value"
              class="resource-label"
              >Mind</label
            >
            <div class="resource-content flexrow flex-center flex-between">
              <input
                type="text"
                name="system.characteristics.mind.value"
                value="{{system.characteristics.mind.value}}"
                data-dtype="Number"
              />
            </div>

            {{#each system.stats as |stat key|}}
            <div class="stat flexrow flex-group-center">
              <label
                for="system.stats.{{key}}.value"
                class="resource-label rollable align-left"
                data-roll="d100"
                data-label="{{stat.label}}"
                >{{stat.label}}</label
              >
              <input
                type="text"
                name="system.stats.{{key}}.value"
                value="{{stat.value}}"
                data-dtype="Number"
              />
              <span
                class="stat-qp rollable"
                data-roll="d100+@stats.{{key}}.qp"
                data-label="{{stat.label}}"
                >{{numberFormat stat.qp decimals=0 sign=false}}</span
              >
            </div>
            {{/each}}
          </div>
        </aside>
        {{!-- adding soul --}}
        <aside class="sidebar">
          {{!-- the below seems to be key to renaming (if possible) abilities to
          stats and the usage of characteristics, here also defines the type of
          roll that happens when clicking the stat, so levels of success should
          be placed here as well --}} {{!-- The grid classes are defined in
          scss/global/_grid.scss. To use,use both the "grid" and "grid-Ncol"
          class where "N" can be any number from 1 to 12 and will create that
          number of columns. --}}
          <div class="stats flexcol">
            <label
              for="system.characteristics.soul.value"
              class="resource-label"
              >Soul</label
            >
            <div class="resource-content flexrow flex-center flex-between">
              <input
                type="text"
                name="system.characteristics.soul.value"
                value="{{system.characteristics.soul.value}}"
                data-dtype="Number"
              />
            </div>

            {{#each system.stats as |stat key|}}
            <div class="stat flexrow flex-group-center">
              <label
                for="system.stats.{{key}}.value"
                class="resource-label rollable align-left"
                data-roll="d100"
                data-label="{{stat.label}}"
                >{{stat.label}}</label
              >
              <input
                type="text"
                name="system.stats.{{key}}.value"
                value="{{stat.value}}"
                data-dtype="Number"
              />
              <span
                class="stat-qp rollable"
                data-roll="d100+@stats.{{key}}.qp"
                data-label="{{stat.label}}"
                >{{numberFormat stat.qp decimals=0 sign=false}}</span
              >
            </div>
            {{/each}}
          </div>
        </aside>
        {{!-- For the main features list, span the right two columns --}} {{!--
        I won't be needing this, so instead I want a column for mind and another
        for soul --}}
        <!--        {{!-- <section class="main grid-span-2"> --}} -->
        {{!-- This is a Handlebars partial. They're stored in the `/parts`
        folder next to this sheet, and defined in module/helpers/templates.mjs
        --}}
        <!--        {{!--  {{> "systems/metanthropes/templates/actor/parts/actor-features.html"}} --}} -->
        <!--        {{!-- </section> --}} -->
      </section>
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{> "systems/metanthropes/templates/actor/parts/actor-items.html"}}
    </div>

    {{!-- Owned Metapowers Tab --}}
    <div class="tab metapowers" data-group="primary" data-tab="metapowers">
      {{> "systems/metanthropes/templates/actor/parts/actor-metapowers.html"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/metanthropes/templates/actor/parts/actor-effects.html"}}
    </div>

    {{!-- Biography Tab position here does not matter --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered,
      you need to pass the actor's roll data to the rollData property. --}}
      {{editor system.biography target="system.biography" rollData=rollData
      button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
